.layout {
  background-image: url("../assets/background.jpg");
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

// a {
//   text-decoration: none;
//   margin: 0;
//   padding: 0;
//   width: 30%;
//   color: black;
//   cursor: pointer;
// }

.card-img-top {
  cursor: pointer;
}
