.layout {
  background-image: url("../assets/background.jpg");
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.cards_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 92%;
  margin: auto;
}

.card {
  background-color: white;
  width: 30%;
  margin-bottom: 20px;
  border-radius: 5px;
}
